/*! main */
/**
 * Clearfix
 */
.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: " "; }
  .clearfix:after {
    clear: both; }

/**
 * Base
 */
body {
  line-height: 1.4;
  color: #111;
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased; }

/**
 * Link
 */
a {
  color: inherit; }

/**
 * Image
 */
img {
  border: none; }

/**
 * Headline
 */
h1, h2, h3, h4 {
  margin: 0; }

/**
 * Screen
 */
.layout {
  position: relative;
  padding-left: 280px;
  /* "left col (nav + list)" width */ }

.side {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 280px;
  margin-left: -280px;
  background: #18213d;
  color: #fff; }

.main {
  position: relative;
  width: 100%; }

/**
 * Header
 */
.header {
  padding: 30px 20px;
  font-size: 1.125em;
  text-align: center; }
  .header h1,
  .header h2 {
    margin: 0; }
  .header h1 {
    font-size: 140%; }
    .header h1 a {
      color: #fff;
      text-decoration: none; }
  .header h2 {
    color: #8e8ed6;
    font-size: 100%; }

/**
 * Profile module
 */
.profile {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 20px 30px;
  font-size: 1.125em;
  text-align: center; }

.account {
  height: 45px;
  line-height: 45px; }
  .account img {
    max-width: 100%;
    height: auto;
    border-radius: 50px; }
  .account a {
    margin-left: 10px;
    text-decoration: none;
    vertical-align: top; }

.intro {
  font-size: 80%; }

/**
 * Contents
 */
.content {
  padding: 30px 72px 48px; }

/**
 * Footer
 */
.footer .inner {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 16px;
  text-align: center; }
.footer .copyright,
.footer .poweredby {
  margin: 0; }
  .footer .copyright a,
  .footer .poweredby a {
    text-decoration: none; }
.footer .poweredby {
  font-size: 80%; }

/**
 * Index
 */
.posts {
  padding: 40px 30px; }
  .posts dl {
    position: relative;
    margin: 0 0 20px;
    font-size: 105%; }
  .posts dt {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px; }
  .posts dd {
    display: inline-block;
    margin: 0;
    padding: 0 0 0 150px; }
    .posts dd a {
      color: #333;
      font-weight: bold; }
      .posts dd a:hover {
        color: #8e8ed6; }

/**
 * Post
 */
.post-date {
  margin-left: -0.1em;
  margin-bottom: 5px;
  color: #333;
  font-size: 14px; }

.post {
  line-height: 1.8em; }
  .post h1 {
    margin: 0 0 1.4em -0.1em; }
  .post h2 {
    margin: .83em 0;
    font-size: 1.5em; }
  .post h1,
  .post h2,
  .post h3 {
    color: #333; }
  .post a:hover {
    color: #8e8ed6; }
  .post pre {
    padding: 1.1em;
    border: 1px solid #ddd;
    line-height: 1.3;
    background-color: #0a263f;
    color: #fff;
    font-size: 0.9em; }
  .post code,
  .post pre {
    font-family: Consolas, monospace; }

/**
 * Auto layout
 */
@media screen and (max-width: 767px) {
  .layout {
    padding: 0; }

  .side {
    position: relative;
    width: 100%;
    margin: 0; }

  .header {
    padding: 5px 20px 0;
    text-align: center; }

  .profile {
    position: relative;
    padding: 0 20px 5px;
    text-align: center; }

  .account {
    height: 32px;
    line-height: 32px;
    margin-bottom: 10px; }
    .account img {
      width: 32px;
      height: 32px; }

  .intro {
    display: none; }

  .container {
    padding: 10px 30px; }

  .posts,
  .content {
    padding: 10px 0 0; }

  .posts dl {
    margin-bottom: 10px;
    font-size: 1.0em; }
  .posts dt {
    position: relative;
    font-size: 0.75em; }
  .posts dd {
    padding-left: 0; }

  .post {
    line-height: 1.6em;
    font-size: 1.0em; }
    .post h1 {
      margin-bottom: 1.0em;
      font-size: 1.6em; }
    .post h2 {
      font-size: 1.4em; }
    .post img {
      max-width: 100%; } }
